<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.dc.de/sql/lang/SqlQueryDsl"
			class = "de.dc.sql.lang.sqlQueryDsl.SqlQueryDslPackage"
			genModel = "model/generated/SqlQueryDsl.genmodel" />
	</extension>
</plugin>
